html {
    background: #012;
    color: #def;
    font-family: monospace;
    font-size: 20px;
}

#userInp {
    background: #123;
    color: #eff;
    font-family: inherit;
    font-size: 1.5em;

    border: 0;
    display: block;
    margin: auto;
    width: 90vw;
    overflow: hidden;
}


.system {
    background: #321;
}

.user {
    background: #123;
}

.assistant {
    background: #001;
}


.unread {
    opacity: .125;
}

.rendering {
    text-decoration: underline dotted;
    opacity: .25;
}

.queued {
    text-decoration: underline dashed;
    opacity: .5;
}

.speaking {
    text-decoration: underline solid;
    opacity: 1;
}


.status {
    text-align: center;
}

.status .idle {
    background: #066;
}

.status .init {
    background: #f60;
}

.status .busy {
    background: #0f0;
}