html {
    background: #012;
    color: #def;
    font-family: monospace;
    font-size: 20px;
}

body {
    max-width: 48em;
    margin: 1em auto;
    padding: 1em;
}

pre {
    background: #123;
    border-radius: 0.5em;
    box-shadow: #000 0 0 0.25em;
    clear: both;
    margin: 0.5em auto;
    padding: 0.25em 0.5em;
    max-width: 75%;
    white-space: pre-wrap;
}

form {
    clear: both;
}

form p {
    margin: 0.25em;
}

#userInp {
    background: #001;
    color: #eff;
    font-family: inherit;
    font-size: 1.5em;

    border: 0;
    display: block;
    margin: auto;
    width: 90%;
    overflow: hidden;
}



.user {
    background: #234;
    float: right;
    margin: 0.5em;
}

.assistant {
    background: #345;
    float: left;
    margin: 0.5em;
}

.error {
    color: red;
    margin: 1em 0.5em 1em 0.5em;
}


.unread {
    transition-duration: 1s;
    opacity: .125;
}

.rendering {
    text-decoration: underline dotted;
    opacity: .25;
}

.queued {
    text-decoration: underline dashed;
    opacity: .5;
}

.speaking {
    text-decoration: underline solid;
    opacity: 1;
}

.read {
    transition-duration: 1s;
    opacity: 1;
}


.status {
    text-align: center;
}

.status .idle {
    background: #066;
}

.status .init {
    background: #f60;
}

.status .busy {
    background: #0f0;
}

#throbber {
    transition-duration: 1s;
    opacity: 0;
}

#throbber.active {
    opacity: 1;
}